/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

 .trix h1 {
        color:indigo;
        size: 1em;
}

.trix-button--icon--attach {
	background: url('/svg/photo.svg') center no-repeat !important;
}

/* Heroicon styles */
/* Below is an old class that needs to be replaced in favor of "hi-*" classes below this */
.heroicon {
        position: relative;
        top: 5px;
}

.hi { vertical-align: text-top; fill: currentColor }
.hi-xs { width: 0.75rem; height: 1.125rem }
.hi-sm { width: 0.875rem; height: 1.312rem }
.hi-base { width: 1rem; height: 1.5rem }
.hi-lg { width: 1.125rem; height: 1.6875rem }
.hi-xl { width: 1.25rem; height: 1.875rem }
.hi-2xl { width: 1.5rem; height: 2.25rem }
.hi-3xl { width: 1.875rem; height: 2.812rem }
.hi-4xl { width: 2.25rem; height: 3.375rem }
.hi-5xl { width: 3rem; height: 4.5rem }


/* Vue Transition Classes */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}